# <span style='color:green'> <center>Entrega 3-lapTimes-driverStandings-constructorStandings constructorResults.</center> </span>
### by: **Oliver Iñiguez.**

In [2]:
import requests
import json
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

## LapTimes

In [41]:
LapTimes = {'year':[],
        'round':[],
        'raceId':[],
        'driverId':[],  
        'lap':[],
        'position':[],
        'time':[]}

urls = []
for i in list(range(2010,2023)):
    url1 = 'http://ergast.com/api/f1/'
    url2 = url1 + str(i)
    url3 = url2 + '.json'
    response = requests.get(url3)
    content = json.loads(response.content)
    for i in list(range(1,len(content['MRData']['RaceTable']['Races'])+1)):
        url4 = url2 + '/' +str(i) + '/laps.json?limit=1000' 
        urls.append(url4)

for j in urls:
    response = requests.get(j)
    content=json.loads(response.content)
    for m1 in content['MRData']['RaceTable']['Races']:
        for m2 in content['MRData']['RaceTable']['Races'][0]['Laps']:
            for m3 in m2['Timings']:
                LapTimes['year'].append(int(m1['season']))
                LapTimes['round'].append(int(m1['round']))
                LapTimes['raceId'].append(str(m1['raceName']))
                LapTimes['position'].append(int(m3['position']))
                LapTimes['driverId'].append(str(m3['driverId']))
                LapTimes['lap'].append(int(m2['number']))
                LapTimes['time'].append(m3['time'])

df = pd.DataFrame(LapTimes)
df

,year,round,raceId,driverId,lap,position,time
0,2010,1,Bahrain Grand Prix,vettel,1,1,2:03.366
1,2010,1,Bahrain Grand Prix,alonso,1,2,2:05.394
2,2010,1,Bahrain Grand Prix,massa,1,3,2:06.758
3,2010,1,Bahrain Grand Prix,rosberg,1,4,2:08.063
4,2010,1,Bahrain Grand Prix,hamilton,1,5,2:08.558
...,...,...,...,...,...,...,...
249875,2022,22,Abu Dhabi Grand Prix,latifi,51,19,1:32.250
249876,2022,22,Abu Dhabi Grand Prix,max_verstappen,52,1,1:30.461
249877,2022,22,Abu Dhabi Grand Prix,leclerc,52,2,1:29.727
249878,2022,22,Abu Dhabi Grand Prix,perez,52,3,1:28.972
249879,2022,22,Abu Dhabi Grand Prix,hamilton,52,4,1:30.375

## DriverStandings

In [83]:
DriverStandings = {'year':[],
        'round':[],
        'driverId':[],  
        'points':[],
        'position':[],
        'positionText':[],
        'wins':[]}
urls = []
for i in list(range(2010,2023)):
    url1 = 'http://ergast.com/api/f1/'
    url2 = url1 + str(i)
    url3 = url2 + '.json'
    response = requests.get(url3)
    content = json.loads(response.content)
    for i in list(range(1,len(content['MRData']['RaceTable']['Races'])+1)):
        url4 = url2 + '/' +str(i) + '/driverStandings.json?limit=1000' 
        urls.append(url4)
for j in urls:
    response = requests.get(j)
    content=json.loads(response.content)
    for m1 in content['MRData']['StandingsTable']['StandingsLists']: 
        for m2 in content['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings']:
            DriverStandings['year'].append(int(m1['season']))
            DriverStandings['round'].append(int(m1['round']))
            DriverStandings['position'].append(int(m2['position']))
            DriverStandings['positionText'].append(str(m2['positionText']))
            DriverStandings['driverId'].append(str(m2['Driver']['driverId']))
            DriverStandings['points'].append(float(m2['points']))
            DriverStandings['wins'].append(int(m2['wins']))
                            
df = pd.DataFrame(DriverStandings)
df

      year  round    driverId  points  position positionText  wins
0     2010      1      alonso    25.0         1            1     1
1     2010      1       massa    18.0         2            2     0
2     2010      1    hamilton    15.0         3            3     0
3     2010      1      vettel    12.0         4            4     0
4     2010      1     rosberg    10.0         5            5     0
...    ...    ...         ...     ...       ...          ...   ...
5762  2022     22        zhou     6.0        18           18     0
5763  2022     22       albon     4.0        19           19     0
5764  2022     22      latifi     2.0        20           20     0
5765  2022     22    de_vries     2.0        21           21     0
5766  2022     22  hulkenberg     0.0        22           22     0

[5767 rows x 7 columns]

## ConstructorStandings

In [89]:
ConstructorStandings = {'year':[],
        'round':[],
        'constructorId':[],  
        'points':[],
        'position':[],
        'positionText':[],
        'wins':[]}
urls = []
for i in list(range(2010,2023)):
    url1 = 'http://ergast.com/api/f1/'
    url2 = url1 + str(i)
    url3 = url2 + '.json'
    response = requests.get(url3)
    content = json.loads(response.content)
    for i in list(range(1,len(content['MRData']['RaceTable']['Races'])+1)):
        url4 = url2 + '/' +str(i) + '/constructorstandings.json?limit=1000' 
        urls.append(url4)
for j in urls:
    response = requests.get(j)
    content=json.loads(response.content)
    for m1 in content['MRData']['StandingsTable']['StandingsLists']: 
        for m2 in content['MRData']['StandingsTable']['StandingsLists'][0]['ConstructorStandings']:
            ConstructorStandings['year'].append(int(m1['season']))
            ConstructorStandings['round'].append(int(m1['round']))
            ConstructorStandings['position'].append(int(m2['position']))
            ConstructorStandings['positionText'].append(str(m2['positionText']))
            ConstructorStandings['constructorId'].append(str(m2['Constructor']['constructorId']))
            ConstructorStandings['points'].append(float(m2['points']))
            ConstructorStandings['wins'].append(int(m2['wins']))
df = pd.DataFrame(ConstructorStandings)
df

      year  round constructorId  points  position positionText  wins
0     2010      1       ferrari    43.0         1            1     1
1     2010      1       mclaren    21.0         2            2     0
2     2010      1      mercedes    18.0         3            3     0
3     2010      1      red_bull    16.0         4            4     0
4     2010      1   force_india     2.0         5            5     0
...    ...    ...           ...     ...       ...          ...   ...
2756  2022     22          alfa    55.0         6            6     0
2757  2022     22  aston_martin    55.0         7            7     0
2758  2022     22          haas    37.0         8            8     0
2759  2022     22    alphatauri    35.0         9            9     0
2760  2022     22      williams     8.0        10           10     0

[2761 rows x 7 columns]

## ConstructorResults