# <span style='color:red'> <center>f1-Análisis con pandas y json.</center> </span>
### by: **Oliver Iñiguez**

In [18]:
import requests
import json
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [14]:
races = {'season':[],
        'round':[],
        'raceName':[],
        'circuitId':[],
        'latitud':[],
        'longitud':[],
        'country':[],
        'date':[],
        'url':[]}

In [15]:
for year in list(range(2010,2023)):
    url = 'http://ergast.com/api/f1/{}.json'
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    for item in content['MRData']['RaceTable']['Races']:
        races['season'].append(int(item['season']))
        races['round'].append(int(item['round']))
        races['raceName'].append(item['raceName'])
        races['circuitId'].append(item['Circuit'].get('circuitId'))
        races['latitud'].append(float(item['Circuit'].get('Location').get('lat')))
        races['longitud'].append(float(item['Circuit'].get('Location').get('long')))
        races['country'].append(item['Circuit'].get('Location').get('country'))
        races['date'].append(pd.to_datetime(item['date']))
        races['url'].append(item['url'])

df = pd.DataFrame(races)
df

,season,round,raceName,circuitId,latitud,longitud,country,date,url
0,2010,1,Bahrain Grand Prix,bahrain,26.03250,50.51060,Bahrain,2010-03-14,http://en.wikipedia.org/wiki/2010_Bahrain_Gran...
1,2010,2,Australian Grand Prix,albert_park,-37.84970,144.96800,Australia,2010-03-28,http://en.wikipedia.org/wiki/2010_Australian_G...
2,2010,3,Malaysian Grand Prix,sepang,2.76083,101.73800,Malaysia,2010-04-04,http://en.wikipedia.org/wiki/2010_Malaysian_Gr...
3,2010,4,Chinese Grand Prix,shanghai,31.33890,121.22000,China,2010-04-18,http://en.wikipedia.org/wiki/2010_Chinese_Gran...
4,2010,5,Spanish Grand Prix,catalunya,41.57000,2.26111,Spain,2010-05-09,http://en.wikipedia.org/wiki/2010_Spanish_Gran...
...,...,...,...,...,...,...,...,...,...
254,2022,18,Japanese Grand Prix,suzuka,34.84310,136.54100,Japan,2022-10-09,http://en.wikipedia.org/wiki/2022_Japanese_Gra...
255,2022,19,United States Grand Prix,americas,30.13280,-97.64110,USA,2022-10-23,http://en.wikipedia.org/wiki/2022_United_State...
256,2022,20,Mexico City Grand Prix,rodriguez,19.40420,-99.09070,Mexico,2022-10-30,http://en.wikipedia.org/wiki/2022_Mexican_Gran...
257,2022,21,Brazilian Grand Prix,interlagos,-23.70360,-46.69970,Brazil,2022-11-13,http://en.wikipedia.org/wiki/2022_Brazilian_Gr...
258,2022,22,Abu Dhabi Grand Prix,yas_marina,24.46720,54.60310,UAE,2022-11-20,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...

In [20]:
df.to_csv('races.csv' , index=False)

In [7]:
seasons = {'season':[],
        'url':[]}

In [8]:
url = 'http://ergast.com/api/f1/seasons.json'
response = requests.get(url)
content = json.loads(response.content)

In [9]:
url = 'http://ergast.com/api/f1/seasons.json'
response = requests.get(url)
content = json.loads(response.content)
for item in content['MRData']['SeasonTable']['Seasons']:
        seasons['season'].append(int(item['season']))
        seasons['url'].append(item['url'])
        
df = pd.DataFrame.from_dict(seasons,orient = 'index')
df = df.transpose()
df

   season                                                url
0    1950  http://en.wikipedia.org/wiki/1950_Formula_One_...
1    1951  http://en.wikipedia.org/wiki/1951_Formula_One_...
2    1952  http://en.wikipedia.org/wiki/1952_Formula_One_...
3    1953  http://en.wikipedia.org/wiki/1953_Formula_One_...
4    1954  http://en.wikipedia.org/wiki/1954_Formula_One_...
5    1955  http://en.wikipedia.org/wiki/1955_Formula_One_...
6    1956  http://en.wikipedia.org/wiki/1956_Formula_One_...
7    1957  http://en.wikipedia.org/wiki/1957_Formula_One_...
8    1958  http://en.wikipedia.org/wiki/1958_Formula_One_...
9    1959  http://en.wikipedia.org/wiki/1959_Formula_One_...
10   1960  http://en.wikipedia.org/wiki/1960_Formula_One_...
11   1961  http://en.wikipedia.org/wiki/1961_Formula_One_...
12   1962  http://en.wikipedia.org/wiki/1962_Formula_One_...
13   1963  http://en.wikipedia.org/wiki/1963_Formula_One_...
14   1964  http://en.wikipedia.org/wiki/1964_Formula_One_...
15   1965  http://en.wikipedia.org/wiki/1965_Formula_One_...
16   1966  http://en.wikipedia.org/wiki/1966_Formula_One_...
17   1967  http://en.wikipedia.org/wiki/1967_Formula_One_...
18   1968  http://en.wikipedia.org/wiki/1968_Formula_One_...
19   1969  http://en.wikipedia.org/wiki/1969_Formula_One_...
20   1970  http://en.wikipedia.org/wiki/1970_Formula_One_...
21   1971  http://en.wikipedia.org/wiki/1971_Formula_One_...
22   1972  http://en.wikipedia.org/wiki/1972_Formula_One_...
23   1973  http://en.wikipedia.org/wiki/1973_Formula_One_...
24   1974  http://en.wikipedia.org/wiki/1974_Formula_One_...
25   1975  http://en.wikipedia.org/wiki/1975_Formula_One_...
26   1976  http://en.wikipedia.org/wiki/1976_Formula_One_...
27   1977  http://en.wikipedia.org/wiki/1977_Formula_One_...
28   1978  http://en.wikipedia.org/wiki/1978_Formula_One_...
29   1979  http://en.wikipedia.org/wiki/1979_Formula_One_...

In [ ]:
content

In [ ]:
Bahrain = df[(df['raceName'] == 'Bahrain Grand Prix') ]
Bahrain

In [21]:
#Llamando al API
url = 'http://ergast.com/api/f1/2022/22/results.json'
response = requests.get(url)

In [22]:
content = json.loads(response.content)

In [7]:
list(range(1,23))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [23]:
df_results_2022 = pd.DataFrame()
for race in list(range(1,23)):
    url = 'http://ergast.com/api/f1/2022/{}/results.json'
    response = requests.get(url.format(race))
    content = json.loads(response.content)
    df_results_2022 = df_results_2022.append(pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results']))

In [12]:
content

In [ ]:
df_results_2022

In [25]:
df_results_2022['Driver'] = df_results_2022['Driver'].apply(lambda x: x['driverId'])

In [27]:
df_results_2022['points'] = df_results_2022['points'].astype(int)

In [28]:
df_results_2022.groupby(['Driver']).agg({'points':'sum'}).sort_values(by='points',ascending = False)

                 points
Driver
max_verstappen      433
perez               291
leclerc             291
russell             262
hamilton            233
sainz               228
norris              116
ocon                 89
alonso               81
bottas               47
vettel               37
ricciardo            34
gasly                23
kevin_magnussen      21
stroll               18
tsunoda              12
mick_schumacher      12
zhou                  6
albon                 4
latifi                2
de_vries              2
hulkenberg            0

In [ ]:
df_results_2022

In [30]:
df_results_2022['Constructor'] = df_results_2022['Constructor'].apply(lambda x: x['constructorId'])

In [31]:
df_results_2022.groupby(['Constructor']).agg({'points':'sum'}).sort_values(by='points',ascending = False)

              points
Constructor
red_bull         724
ferrari          519
mercedes         495
alpine           170
mclaren          150
aston_martin      55
alfa              53
alphatauri        35
haas              33
williams           8