In [13]:
import requests
import json
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [8]:
#Llamando al API
url = 'http://ergast.com/api/f1/2022/22/results.json'
response = requests.get(url)

In [9]:
content = json.loads(response.content)

In [10]:
list(range(1,23))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [35]:
df_results_2022 = pd.DataFrame()
for race in list(range(1,23)):
    url = 'http://ergast.com/api/f1/2022/{}/results.json'
    response = requests.get(url.format(race))
    content = json.loads(response.content)
    df_results_2022 = df_results_2022.append(pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results']))

In [36]:
df_results_2022['points'] = df_results_2022.points.astype(int)

In [37]:
df_results_2022.groupby(['position']).agg({'points':'sum'}).sort_values(by='points',ascending = False)

          points
position
1            557
2            402
3            331
4            265
5            222
6            179
7            132
8             88
9             44
10            22
18             0
17             0
20             0
16             0
15             0
14             0
13             0
12             0
11             0
19             0